.main {
  min-height: 100vh;
  color: white;
}

.main *{
  visibility: hidden;
}

.hero {
  background-color: #004643;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero header {
  padding: 0 20px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
}

.hero nav {
  display: flex;
}

.hero nav li {
  list-style: none;
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.4s;
}

.hero nav li:hover {
  color: #f8bc60;
}

.hero header button {
  height: 40px;
  padding: 0 20px;
  border-radius: 50px;
  background-color: #004643;
  border: 1px solid #fff;
  color: white;
  text-transform: capitalize;
  transform: 0.4s;
}

.hero header button:hover {
  border-color: #f8bc60;
  cursor: pointer;
}

.hero > h1 {
  font-size: 40px;
  max-width: 500px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  margin-top: 20px;
}

.buttonContainer button {
  background-color: #f8bc60;
  height: 50px;
  padding: 0 20px;
  border-radius: 50px;
  color: white;
  border: none;
  text-transform: capitalize;
  transform: 0.4s;
  margin-right: 20px;
}

.people {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.people img {
  width: 80%;
  margin-top: -80px;
  z-index: 1;
}

.services {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.services span {
  color: #004643;
  font-size: 18px;
  text-transform: capitalize;
}

.services p {
  text-transform: capitalize;
  font-size: 32px;
  color: black;
}

.servicesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 5%;
}
.servicesContainer div {
  height: 200px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 20px 10px;
  border-radius: 10px 0 10px 0;
}

.servicesContainer h2 {
  font-size: 22px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 600;
}

.servicesContainer p {
  font-size: 18px;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  padding: 40px 5%;
  color: black;
}

.offer img {
  width: 35%;
}

.offer .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: spa;
  align-items: flex-start;
  padding: 0 50px;
}

.offer .right h2 {
  font-size: 33px;
  max-width: 400px;
}

.offer .right p {
  font-size: 18px;
  max-width: 400px;
}

.offer button {
  background-color: #004643;
  color: white;
  border: 0;
  padding: 20px 30px;
  text-transform: capitalize;
}

.offer * {
  margin: 10px 0;
}

.testimonials {
  background-color: #004643;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 5%;
}

.testimonials span {
  color: #f8bc60;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.testimonials h2 {
  font-size: 30px;
  text-transform: capitalize;
}

.cardWrap {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 33%;
  min-width: 300px;
  padding: 20px;
  border-radius: 10px 0 10px 0;
  margin: 0 10px;
}

.stars {
  display: flex;
}

.stars img {
  width: 15px;
  margin: 0 5px;
}

.teshead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.teshead .box {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #004643;
}

.teshead .text {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.teshead .text h3 {
  color: black;
  font-size: 15px;
}

.text p {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  color: gray;
  text-transform: capitalize;
}

.testimonials h4 {
  font-weight: 500;
  color: black;
  padding: 10px;
  font-size: 13px;
}

.main footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #004643;
  font-weight: 600;
}

@media (max-width: 800px) {
  .hero {
    height: 400px;
  }

  .people img {
    width: 90%;
  }

  .hero header {
    justify-content: space-between;
  }

  .hero header button {
    display: none;
  }

  .hero nav {
    display: none;
    position: absolute;
  }

  .hero h1 {
    font-size: 30px;
    max-width: 400px;
  }

  .hero .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero .buttonContainer img {
    width: 40px;
  }

  .services > p {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 600;
  }

  .servicesContainer {
    flex-direction: column;
  }

  .servicesContainer div {
    width: 90%;
    height: 130px;
    margin: 10px 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .servicesContainer h2 {
    text-align: left;
    font-size: 18px;
  }

  .servicesContainer p {
    font-size: 15px;
    font-weight: 400;
  }

  .offer {
    flex-direction: column;
    padding: 20px 5%;
  }

  .offer img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px 0 20px 0;
  }

  .offer .right {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .offer .right h2 {
    max-width: 80%;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 600;
  }

  .offer .right p {
    font-size: 15px;
    font-weight: 400;
  }

  .testimonials .cardWrap {
    flex-direction: column;
    margin: 20px 0;
  }

  .testimonials .card {
    width: 100%;
    margin: 20px 0;
  }
}
